<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">저희 영어 시스템은 대한민국 유일입니다!</h2>
                <hr class="light">
                <p class="text-faded">아직은 스타트업으로써 조금 덜 체계적일 수 있습니다. 영어 선생님의 발음이 완벽한 미국식 발음이 아닐 수 있습니다. 
                    하지만 진짜 영어는 완벽한 체계와 완벽한 발음에서 나오는 것이 아닙니다. 
                    이미 대한민국에서 대학생 정도가 되면 12년의 체계적인 영어 공부를 했지만 미국에서 생활은 불가능하고 반기문 총장의 영어 발음은 한국인이 생각할때 유창한 발음이 아니었음에도 외국인들은 그의 영어 실력을 높이 평가합니다.
                    아이가 언어를 배울때 처럼 영어는 꾸준히 아무말이라도 지속적으로 해야지만 늘 수 있습니다. 저희는 그런 영어의 학습법을 가지고 거품을 뺀 가격으로 전화 영어를 운영하고 있습니다. 당신이 영어로 프리토킹을 쉽게 할 수 있을때 더 높은 영어 실력을 향상 시키기 위해서는 체계적인 공부를 하십시오
                    하지만 그 전까지는 저희 전화 영어가 충분히 당신의 영어를 외국생활에 문제 없을 정도로 끌어올려 줄 것입니다.</p>
                <a href="#contact" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
