<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Real English with Philippines Friends!</h1>
            <hr>
            <p> 대학생때까지 영어 1도 못하던 토종 한국인이 영미권에서 일도 하고 미국 유학까지!<br>
                프리토킹의 실력자가 될 수 있었던 비결!<br>
                체계적인 학습이 아닌 영어로 말하는 훈련이었습니다.<br>
                미국을 간다고 영어 실력이 늘지 않습니다.<br>
                다만 영어로 말을 하는 시간이 많아지면서 영어를 할 수 있게 된 것이지요.<br>
                합리적인 가격의 Real Englsih를 통해 친구 같은 영어 선생님들과 영어 실력을 향상시켜보세요!<br>
                
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">자세히 알아보기</a>
        </div>
    </div>
</header>
